$fuentePrincipal: 'Montserrat', sans-serif;


//colores

$verde:#4CB8B3;
$rosa:#F53756;
$amarillo:#FEF46D;
$morado:#752F97;
$negro:#000;
$blanco:#FFF;

//Fuentes
//$delgada:200;
$regular:400;
$bold: 700;
$black:900;


//media queries

$telefono: 480px;
$tablet:768px;
$desktop:1200px;


// Separacion

$separacion:5rem;
