.video{
    position: relative;
    max-height: 70rem;
    overflow: hidden;
    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7abcff+0,891c1e+0,4a9ed6+54,ffffff+100&1+0,0.8+2,0.8+54,1+100 */
        background: -moz-linear-gradient(-45deg,  rgba(137,28,30,1) 0%, rgba(135,33,37,0.8) 2%, rgba(74,158,214,0.8) 54%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  rgba(137,28,30,1) 0%,rgba(135,33,37,0.8) 2%,rgba(74,158,214,0.8) 54%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  rgba(137,28,30,1) 0%,rgba(135,33,37,0.8) 2%,rgba(74,158,214,0.8) 54%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#891c1e', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 ); /* IE6-9 */

        
    }

    video{
        display: block;
        width: 100%;
    
    }
    .contenedor-video{
        display: flex;
        align-items: center;
        height: 100%;
    }

    h2{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: $blanco;
        font-size: 6rem;
        position: relative;
        z-index: 1;

       span{
           background-color: $rosa;
           padding: 1 rem 2rem;
           font-size: 2rem;
         

       } 
    }
}